{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
	<title>O2M</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap-theme.min.css">

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="/extra/lib/bootstrap/js/bootstrap.min.js"></script>

	<style>
		.media-left{
			min-width:50px;
		}
	</style>
</head>
<body>
	<div id="select_content" class="modal modal-default fade" data-content-id="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Select a piece of content</h4>
				</div>
				<div class="modal-body">
					<div role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">
									Existing content
								</a>
							</li>
							<li role="presentation">
								<a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
									Upload content
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="existing">
								Choose an existing content:
							</div>
							<div role="tabpanel" class="tab-pane" id="upload">
								Upload a new piece of content:
								<script>
									function content_added(response) {
										$('.btn.btn-success').val('Uploaded')
										content_id = JSON.parse(response).content_id
										$('#select_content').data('content-id', content_id)
									}

									function select_content(callback) {
										$("#select_content").modal('show');
										$("#select_content").on('hide.bs.modal', function(){
											callback($("#select_content").data('content-id'))
										});
									}

									function add_content_to_server(content_add_form) {
										$.ajax({
											url: '/content/',
											type: 'POST',
											success: content_added,
											error: function(response){console.log(response.status)},
											data: new FormData(content_add_form),
											cache: false,
											contentType: false,
											processData: false
										})
									}
								</script>
								Please choose a file to upload
								<form action="/content/" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<input class="form-control" type="file" name="file"/>
									<input class="btn btn-success" type="submit" onclick="event.preventDefault();add_content_to_server($('form')[0])"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Use selected</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="padding-top:20px">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">o2m</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/o2m/timeline">Timeline</a></li>
						<li><a href="/o2m/home">Your Posts</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">o2m - The Distributed Social Network {{version}}</p></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% block body %}{% endblock %}
	</body>
</html>