{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
	<title>O2M</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap-theme.min.css">

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="/extra/lib/bootstrap/js/bootstrap.min.js"></script>

	<style>
		.media-left{
			min-width:50px;
		}
	</style>
</head>
<body>
	<div id="select_content" class="modal modal-default fade" data-content="{}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<script>
			function set_selected(content) {
				$('#file_name').val(content.file_path)
				$('#select_content').data('content', content)
				$('#existing a').removeClass("active")
				$('#existing').find('#' + content.id + " a").addClass("active")
			}

			function content_added(response) {
				$('.btn.btn-success').val('Uploaded')
				content = JSON.parse(response).content
				refresh_existing()
				set_selected(content)
			}

			function html_content_link(content) {
				icon = $(document.createElement('div'))
				icon.addClass('content_link').addClass('col-xs-6').addClass('col-md-3')
				icon.attr('id', content.id)

				link = $(document.createElement('a'))
				link.attr('href', 'javascript:;')
				link.on('click', function(){
					set_selected(content)
				})
				link.addClass("thumbnail")

				last_dot_index = content.file_path.lastIndexOf('.') + 1
				content_file_type = content.file_path.substring(last_dot_index).toLowerCase()

				img = document.createElement('img')

				if (content_file_type in {'jpeg': 1, 'jpg': 1, 'png': 1}) {
					img.src = '/content/' + content.id
				} else {
					img.src = '/extra/img/thumbnails/document.png'
				}

				$(img).addClass('img-responsive')

				file_name = document.createElement('p')
				last_slash_index = content.file_path.lastIndexOf('/') + 1
				file_name.innerHTML = content.file_path.substring(last_slash_index)

				link.append(img)
				link.append(file_name)

				icon.append(link)

				return icon
			}

			function populate_existing(response) {
				existing = JSON.parse(response)

				if (existing.length > 0) {
					$("#existing").html("")
					for (i = 0; i < existing.length; i++) {
						$("#existing").append(html_content_link(existing[i]))
					}
					$("#existing").addClass("active")
					$("#tab_existing").addClass("active")
					$("#upload").removeClass("active")
					$("#tab_upload").removeClass("active")
				} else {
					$("#upload").addClass("active")
					$("#tab_upload").addClass("active")
					$("#existing").removeClass("active")
					$("#tab_existing").removeClass("active")
				}
			}

			function refresh_existing() {
				$.ajax({
					url: '/content_list',
					type: 'GET',
					cache: false,
					success: populate_existing,
					error: function(response){console.log(response.status)}
				})
			}

			function select_content(callback) {
				refresh_existing()

				$("#select_content").modal('show');
				$("#select_content").on('hide.bs.modal', function(){
					content = $("#select_content").data('content')
					if (content) {
						callback(content)
					}
				});
				$("#file").on('change', function(){
					file_path = $("#file").val()
					last_slash_index = file_path.lastIndexOf('/') + 1
					if (last_slash_index == 0) {
					last_slash_index = file_path.lastIndexOf('\\') + 1
					}
					$("#file_name").val(file_path.substring(last_slash_index))
				})
			}

			function ajax_submit_form(form, success, error) {
				$.ajax({
					url: form.attr('action'),
					type: form.attr('method'),
					success: success,
					error: error,
					data: new FormData(form[0]),
					cache: false,
					contentType: false,
					processData: false
				})
			}

			function add_content_to_server(content_add_form) {
				$.ajax({
					url: '/content/',
					type: 'POST',
					success: content_added,
					error: function(response){console.log(response.status)},
					data: new FormData(content_add_form),
					cache: false,
					contentType: false,
					processData: false
				})
			}

			function cancel_select_content() {
				// 0 means don't send
				$("#select_content").data('content', 0)
				$("#select_content").modal('hide')
			}

			function use_selected_content() {
				$("#select_content").modal('hide')
			}
		</script>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Select a piece of content</h4>
				</div>
				<div class="modal-body">
					<div role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li id="tab_existing" role="presentation" class="active">
								<a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">
									Existing content
								</a>
							</li>
							<li id="tab_upload" role="presentation">
								<a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
									Upload content
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active row well" id="existing">
							</div>
							<div role="tabpanel" class="tab-pane" id="upload">
								<form action="/content/" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<input id="file" type="file" name="file" style="display:none"/>
									<div class="input-group">
										<input id="file_name" class="form-control" type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" onclick="$('input[id=file]').click();event.preventDefault()">Browse</button>
										</span>
									</div>
									<input class="btn btn-success" type="submit" onclick="event.preventDefault();add_content_to_server($('#select_content')[0])"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick="cancel_select_content()">Close</button>
					<button type="button" class="btn btn-primary" onclick="use_selected_content()">Use selected content</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="padding-top:20px">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/o2m/timeline">o2m</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/o2m/timeline">Timeline</a></li>
						<li><a href="/o2m/home">Your Posts</a></li>
						<li><a href="/o2m/friends">Friends</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">o2m - The Distributed Social Network {{version}}</p></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% block body %}{% endblock %}
	</body>
</html>