{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
	<title>O2M</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/extra/lib/bootstrap/css/bootstrap-theme.min.css">

	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="/extra/lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="/extra/js/o2m.js"></script>
	<script src="/extra/js/select_content_form.js"></script>
	<script>
		o2m.me = {
			'id': {{me.id}}
		}
	</script>

	<style>
		.media-left{
			min-width:50px;
		}
	</style>
</head>
<body>
	<div class="container" style="padding-top:20px">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/o2m/timeline">o2m</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/o2m/timeline">Timeline</a></li>
						<li><a href="/o2m/home">Your Posts</a></li>
						<li><a href="/o2m/friends">Friends</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">o2m - The Distributed Social Network {{version}}</p></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{% block body %}{% endblock %}
	<div id="select_content" class="modal modal-default fade" data-content="{}" role="dialog" aria-labelledby="selectContent" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Select a piece of content</h4>
				</div>
				<div class="modal-body">
					<div role="tabpanel">
						<ul class="nav nav-tabs" role="tablist">
							<li id="tab_existing" role="presentation" class="active">
								<a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">
									Existing content
								</a>
							</li>
							<li id="tab_upload" role="presentation">
								<a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
									Upload content
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active row well" id="existing">
							</div>
							<div role="tabpanel" class="tab-pane" id="upload">
								<form id="select_content_form" action="/content/" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<input id="file" type="file" name="file" style="display:none"/>
									<div class="input-group">
										<input id="file_name" class="form-control" type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" onclick="$('input[id=file]').click();event.preventDefault()">Browse</button>
										</span>
									</div>
									<input class="btn btn-success" type="submit" onclick="event.preventDefault();add_content_to_server($('#select_content_form')[0])"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick="cancel_select_content()">Close</button>
					<button type="button" class="btn btn-primary" onclick="use_selected_content()">Use selected content</button>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>