{% extends "base.html" %}
{% block body %}
<div class="container">
	<ul class="media-list">
	{% for friend in friends %}
		<div class="col-xs-6 col-md-3">
			<a class="thumbnail" href="http://{{me.address}}:{{me.port}}/o2m/friend/{{friend.name}}">
					<img id="user_photo" class="img-responsive" src="http://{{me.address}}:{{me.port}}/o2m/friend/{{friend.name}}/content/{{friend.photo_content_id}}">{{friend.name}}
			</a>
		</div>
	{% empty %}
		You have no friends ;_;
	{% endfor %}
	</ul>
</div>
{% endblock %}
