{% extends "base.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% block body %}
<div class="container">
	<div class="row">
		{% if friend %}
		<div class="col-md-3">
			<h3>{{friend.name}}</h3>
			<img class="img-responsive" src="http://{{me.address}}:{{me.port}}/o2m/friend/{{friend.name}}/content/{{friend.photo_content_id}}">
			{% if request_sent %}
				A request has been sent
			{% elif non_friend %}
				We're not friends<br>
				<a href="/o2m/add_friend/{{friend.name}}@{{friend.address}}:{{friend.port}}">Click here to request to be friends</a>
			{% elif request_received %}
				Friend request received!<br>
				<a href="/o2m/add_friend/{{friend.name}}@{{friend.address}}:{{friend.port}}">Click here to accept</a>
			{% else %}
				We're friends :)
			{% endif %}
		</div>
		<div class="col-md-9">
		{% else %}
		<div class="col-md-3">
			<h1>{{me.name}}</h1>
			<div id='no_user_photo' style="display:none">
				<a href="javascript:;" onclick="upload_new_display_picture()">Upload a new display picture</a>
				<script>
					function update_friend(friend_id, data, callback) {
						if(!callback) {
							callback = function(response){console.log(response.status)}
						}
						
						$.ajax({
							url: '/friend/' + friend_id,
							type: 'PUT',
							success: callback,
							data: JSON.stringify(data),
							error: function(response){console.log(response.status)}
						})
					}

					function set_my_user_photo(content) {
						function done(response) {
							window.location = '/o2m/timeline'
						}
						update_friend('{{me.id}}', {'photo_content_id':content.id}, done)
					}

					function upload_new_display_picture() {
						select_content(set_my_user_photo)
					}
				</script>
			</div>
			<script>
				function no_user_photo() {
					$('#no_user_photo').show()
					$('#user_photo').hide()
				}
			</script>
			<a href="javascript:;" onclick="upload_new_display_picture()" title="Change user photo">
				<img id="user_photo" class="img-responsive" 
			     src="http://{{me.address}}:{{me.port}}/o2m/friend/{{me.name}}/content/{{me.photo_content_id}}"
			     onerror="no_user_photo()">
			</a>
		</div>
		<div class="col-md-9">
		{% endif %}
			<form action="/o2m/add_linked_content" method="POST">
				{% csrf_token %}
				{% bootstrap_form post_form %}
				<input type="hidden" value="1" name="content_id">
				<input type="hidden" value="{{me.address}}" name="friend_address">
				<input type="hidden" value="{{me.port}}" name="friend_port">
			</form>
			<ul class="media-list">
			{% for link in links %}
				<li class="content media">
					{% for level in link.level %}<div class="media-left"></div>{% endfor %}
					<div class="media-body panel panel-default">
						<div class="panel-heading">
							<a href="/o2m/friend/{{link.friend.name}}">{{link.friend.name}}</a> posted this {{link.creation_time | naturaltime}}
							<div class="pull-right">
								<form id="form_dl_{{link.link_friend.id}}_{{link.id}}" action="/o2m/delete_link" method="POST">
									{% csrf_token %}
									<input type="hidden" name="content_id" value="{{link.content}}"/>
									<input type="hidden" name="friend_id" value="{{link.link_friend.id}}"/>
									<a href="javascript:;" onclick="$('#form_dl_{{link.link_friend.id}}_{{link.id}}').submit()" title="Delete link">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</form>
							</div>
						</div>
						<div class="panel-body">
							{{link.html | safe}}
							<div class="pull-right">
								<form id="form_dc_{{link.content}}" action="/o2m/delete_content" method="POST">
									{% csrf_token %}
									<input type="hidden" name="content_id" value="{{link.content}}"/>
									<a href="javascript:;" onclick="$('#form_dc_{{link.content}}').submit()" title="Delete content">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</form>
							</div>
						</div>
						<div class="panel-footer">
							<form action="/o2m/add_linked_content" method="POST">
								{% csrf_token %}
								{% bootstrap_form comment_form %}
								<input type="hidden" value="{{link.content}}" name="content_id">
								<input type="hidden" value="{{link.address}}" name="friend_address">
								<input type="hidden" value="{{link.port}}" name="friend_port">
							</form>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
